<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.widyatama.nurseassistant">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MvpApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activity.detailTodo.DetailTodoActivity"></activity>
        <activity android:name=".features.measurement.MeasurementActivity" />
        <activity android:name=".features.detailPatient.DetailPatientActivity" />
        <activity android:name=".features.main.MainActivity" />
        <activity android:name=".features.login.LoginActivity" />
        <activity android:name=".view.activity.listPasien.ListPasienActivity"
            android:theme="@style/ThemeActionBar"/>
        <activity android:name=".features.splash.SplashActivity"
            android:theme="@style/NoActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <activity android:name=".view.VisitPasientActivity" />
        <activity android:name=".view.activity.NurseOnDutyActivity"/>
        <activity android:name=".features.threatment.ThreatmentActivity"/>
        <activity android:name=".view.activity.EventActivity" android:theme="@style/ThemeActionBar" />
 
    </application>

</manifest>